#canvas-terminal-container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr;
    place-items: center;

}

#terminal-container {
    width: 100%;
    height: 100%;
}

#terminal-container > #terminal {
    box-sizing: border-box;
    border: 2px solid black;
    background: black;
    color: white;
    font-size: 2vw;
    padding: 5%;
    width: 100%;
    height: 90%;
}

#terminal-container > #terminal:focus {
    outline: none;
}

#terminal-container > button {
    border: 2px solid black;
    background: white;
    color: black;
    font-size: 1.5vw;
    width: 20%;
    height: 10%;
    float: right;
}