<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width = device-width, initial-scale = 1">
<head th:replace="~{fragments/header :: header}">
</head>
<link rel="stylesheet" th:href="@{/css/style.css}">
<title>cactuscript</title>

<body>
    <h2 th:text="${message}"></h2>
    <div class="container" id="canvas-terminal-container">
        <canvas id="cactus-canvas"></canvas>

        <div class="container" id="terminal-container">
            <label for="terminal"></label>
            <textarea name="terminal" id="terminal" cols="30" rows="10">Terminal&#13;> </textarea>
        </div>
    </div>
</body>

<div th:replace="~{fragments/footer :: footer}"></div>
<script th:src="@{js/index.js}"></script>
</html>